* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
my-header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px 4px 10px;
}
.dflex {
  display: flex;
  align-items: center;
}
.item {
  padding: 10px 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.item :hover {
  border: 1px solid #fff;
  border-radius: 2px;
  margin: -1px;
}
.logo {
  text-align: center;
  margin: 1px;
  margin-bottom: -5px;
  padding: 6px 8px 0 0;
  height: 42px;
}
my-header a {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
my-header a :hover {
  border: 1px solid #fff;
  margin: -1px;
  border-radius: 3px;
}
my-header a span {
  font-size: 14px;
  margin-left: -10px;
}
my-header p {
  font-size: 12px;
  line-height: 15px;
}
.item i {
  padding: 0 5px;
}
my-header input {
  width: 760px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  color: #000;
}
my-header button {
  padding: 10px 10px;
  color: #000;
  font-size: 17px;
  border: none;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
my-header .all {
  background: #ddd;
  border-radius: 5px 0 0 5px;
}
my-header .search {
  padding: 10px 17px;
  margin: -2px;
  background: rgb(247, 155, 80);
  border-radius: 0 5px 5px 0;
}
